/*  

dark purple: #290017
orange:      #ef7a32
dark orange: #b14a0b
light blue:  #2deeff
dark blue:   #0ea3b0
*/

.row a {
  display: flex;
  color: #ef7a32;
  text-decoration: none;
}

.row a:focus {
}

.row a:active,

.row a:hover {
  color: #0ea3b0;
  text-shadow: 3px 3px black;
}

body {
  background-color: #290017;
  font-family: Menlo;
  color: #ef7a32;

}

h1 {
  font-size: 4em;
  padding: 0px 30px;
  text-shadow: 3px 3px #b14a0b;
}

.item {
  width: 100%;
  margin: 5px;
  background: white;
  text-align: center;
  border-radius: 10px;
  border: solid 4px #ef7a32;
  box-shadow:         inset 0 0 5px #b14a0b;
   -moz-box-shadow:    inset 0 0 5px #b14a0b;
   -webkit-box-shadow: inset 0 0 5px #b14a0b;
}

.row {
  display: flex;
  margin: 0px 10%;
  justify-content: space-around;
  border-radius: 15px;
}

.height-80 {
    height: 80px;
}

.height-200 {
    height: 200px;
}

.button-text{
  font-size: 4em;
  padding: 0px 30px;
  text-shadow: 3px 3px #b14a0b;
}

.flex-parent {
  display: flex;
}

.text-container {
  text-align: center;
  margin: 20px auto 80px auto;
  border-radius: 20px;
  background-color: #2deeff;
  border: solid 8px #0ea3b0;
}


#sample-board{
  padding-bottom: 75%;
  margin: 10px auto;
}

#robot {
  margin: 10px auto;
}

#robot-head {
  display: flex;
  margin: 5px auto;
  text-align: center;
}


#robot-arm {
  display: flex;
  margin: 5px auto;
  text-align: right;
  line-height: 100px;
}








