/*  

dark purple: #290017
orange:      #ef7a32
dark orange: #b14a0b
light blue:  #2deeff
dark blue:   #0ea3b0
*/



body {
  background-color: #290017;
  font-family: Menlo;
  color: #ef7a32;

}

h1 {
  font-size: 4em;
  padding: 0px 30px;
  text-shadow: 3px 3px #b14a0b;
}


h3 {
  color: white;
  padding: 5px 10px;
  white-space: nowrap;
  text-shadow: 2px 2px #b14a0b;
}

.item {
  width: 100%;
  margin: 5px;
  background: white;
  text-align: center;
  border-radius: 10px;
  border: solid 4px #ef7a32;
  box-shadow:         inset 0 0 5px #b14a0b;
   -moz-box-shadow:    inset 0 0 5px #b14a0b;
   -webkit-box-shadow: inset 0 0 5px #b14a0b;
}

.item:hover { position: relative; 
              top: -4px;
              right: 4px;}

.background-blue:hover {
  background-color: #2deeff;
}

.background-orange {
  background-color: #ef7a32;
}

.row {
  display: flex;
  margin: 0px 10%;
  justify-content: space-around;
  border-radius: 15px;
}

.row a {
  display: flex;
  color: #ef7a32;
  text-decoration: none;
}

.row a:focus {
}

.row a:active,

.row a:hover {
  color: #0ea3b0;
  text-shadow: 3px 3px black;
}




.margin-left-17 {
  margin-left: 17%;
}

.margin-right-5 {
  margin-right: 5%;
}


.height-80 {
    height: 80px;
}

.height-200 {
    height: 200px;
}

.button-text{
  font-size: 3em;
  padding: 30px;
  text-shadow: 3px 3px #b14a0b;
}

.flex-parent {
  display: flex;
}

.text-container {
  text-align: center;
  margin: 20px auto 80px auto;
  border-radius: 20px;
  background-color: #2deeff;
  border: solid 8px #0ea3b0;
}

.wheel {
  width: 100%;
  margin: 5px;
  background-color: #2deeff;
  border: 15px solid #ef7a32;
  border-radius: 45%;

}

.wheel-house {
  border: 8px solid #ef7a32;
  padding: 5px 10px;
  border-radius: 40px;
  margin-top: 10px;
}


#sample-board{
  padding-bottom: 75%;
  margin: 10px auto;
}

#robot {
  margin: 10px auto;
}

#robot-head {
  display: flex;
  margin: 5px auto;
  text-align: center;
}


#robot-arm {
  display: flex;
  margin: 5px auto;
  text-align: right;
  line-height: 100px;
}


#robot-left-arm {
  display: flex;
  padding-top: 50px;

}





