<div class="flex-parent">
  <div class="text-container">
    <h1>WELCOME TO THE NEERO 8080</h1>
  </div>  
</div>

<div class="flex-parent">
  <div id="robot-arm">
    <img src="/robot-left-arm.png">
  </div>
  <div id="robot-head">
    <img src="/robot-head.png">
  </div>
  <div id="robot-arm">
    <img src="/robot-right-arm.png">
  </div>
</div>

  <div id="sample-board">
    <div class="row height-80">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
  
    <div class="row height-200">
      <a href="/login">
      <div class="item">
          <div class="text-area">
            <h1 class="button-text">Login</h1>
          </div> 
        </div>
      </a>
      <div class="item"> </div>
      <div class="item"> </div>
      <a href="/register">
      <div class="item">
          <div class="text-area">
            <h1 class="button-text">Register</h1>
          </div> 
        </div>
      </a>
    </div>

    <div class="row height-80">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>

  </div>  