<div class="flex-parent">
  <div class="text-container">
    <h1>WELCOME TO THE NERO 8080</h1>
  </div>  
</div>

<div class="margin-right-5">
<div class="flex-parent">
  <div id="robot-arm">
    <img src="/robot-blank-arm.png">
  </div>
  <div id="robot-head">
    <img src="/robot-head.png">
  </div>
  <div id="robot-arm">
    <img src="/robot-right-arm.png">
  </div>
</div>

  <div id="sample-board">
    <div class="row height-80 margin-left-17">
      <div class="item background-orange"></div>
      <div class="item background-orange"></div>
      <div class="item background-blue"></div>
      <div class="item background-blue"></div>
      <div class="item background-orange"></div>
      <div class="item background-blue"></div>
    </div>
  
    <div class="row height-200">
      <div>
        <div id="robot-left-arm">
          <img src="/robot-left-arm.png">
        </div>
      </div>
      <a href="/login">
      <div class="item">
          <div class="text-area">
            <h1 class="button-text">Login</h1>
          </div> 
        </div>
      </a>
      <div class="item background-orange"><img src="/robot-bits.png" style="padding:30px"></div>
      <div class="item background-blue"> </div>
      <a href="/register">
      <div class="item">
          <div class="text-area">
            <h1 class="button-text">Register</h1>
          </div> 
        </div>
      </a>
      <div class="hidden-item"></div>
    </div>

    <div class="row height-80 margin-left-17">
      <div class="item background-orange"></div>
      <div class="item background-blue"></div>
      <div class="item background-blue"></div>
      <div class="item background-orange"></div>
      <div class="item background-orange"></div>
      <div class="item background-blue"></div>
    </div>

   <div class="row height-80 margin-left-17">
      <div class="item background-blue"></div>
      <a href="/fiddle">
        <div class="item background-orange">
          <div class="text-area">
            <h3>LISTEN TO SOME OF MY MUSIC</h3>
          </div> 
        </div>
      </a>
      <div class="item background-blue"></div>
      <div class="item background-orange"></div>
    </div>


    <div class="row height-80 margin-left-17 wheel-house">
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
      <div class="wheel"></div>
    </div>

  </div>  
</div> 